.wrapper{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 1%;
    border: 2px solid #ece8e2;

}
.usersPhoto{
    width: 90px;
    height: 90px;
}
.content{ 
    margin-left: 10px;
}
.preloader{
    display: none;
    position: absolute;
    left: 40%;
}
.preloaderOn{
    display: inline-block;
}
.paginator{
    /* text-align:center; */
    padding-top: 10px;
}
.btn button{
    padding: 6px 10px 5px 10px;
    border-radius: 10%;
    border: none;
    background-color: #80A8CC;
    color: #FFFBF5;
    outline: none;
    cursor: pointer;
}