.error input,
.error textarea{
    border: solid #dc0e0e 4px;
}

.error span{
    color: #dc0e0e;
}
.formError{
    border: solid #dc0e0e 3px;
    border-radius: 6px;
    color: #dc0e0e;
    width: 160px;
}