
.wrapper .contactBloc{
    display: flex;
}
.wrapper .contactBloc .icon div a{
    font-size: 40px;
    color: #4a76a8;
    padding: 0 5px;
}
.wrapper button{
    padding: 6px 10px 5px 10px;
    border-radius: 10%;
    border: none;
    background-color: #80A8CC;
    color: #FFFBF5;
    outline: none;
    cursor: pointer;
}