.img {
    width: 700px;
}
.descriptionBlock{
    padding: 10px;
}
.wrapper{
    display: flex;
    margin: 1%;
    position: relative;
}
.usersPhoto{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.content{
    display: flex;
    justify-content: space-around;
    margin-left: 55px;
}
.status{
    display: flex;
}
.status b{
    padding-right: 10px;
}

.changePhotoBtn input{
    display: none;
}
.changePhotoBtn label{
    padding: 1px 10px 3px 10px;
    background-color: #80A8CC;
    color: #FFFBF5;
    text-decoration: none;
    
}