.wrapper{
    margin: 20px 40px;
    width: 300px;
}
.btn{
    padding: 6px 10px 5px 10px;
    border-radius: 10%;
    border: none;
    background-color: #80A8CC;
    color: #FFFBF5;
    outline: none;
    cursor: pointer;
}